* {
    font-family: "Montserrat", sans-serif;
}

body { 
    overflow-x: hidden; 
}

.text-colored {
    color: #007FFF;
}

header {
    background-color: #007FFF;
}

h1{
    color: #fff;
}

.nav-link {
    color: #fff;
}

#cabecalho nav .nav-link.active {
    background-color: #fff;
    color: #007FFF;
}

#contato button {
    background-color: #007FFF;
    color: #FFF;
}

.carousel img {
    height: 720px;
    object-fit: cover;
}

#sobre-a-empresa,
#solucoes {
    background-color: #E0E0E0;
}

aside .nav-link {
    color: black;
}

.social-links li {
    display: inline;
    list-style: none;
}

.social-links li a {
    text-decoration: none;
}

.navbar-toggler {
    background-color: #fff;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 300px;
    }
    .tab-content img {
        height: auto;
    }
}
